<%%= amp_html_doctype do %>

    <head>


        <!-- AMP-HTML head tags -->
        <!-- IMPORTANT: Keep this at the top of the head section!  -->
        <!-- Learn more about allowed parameters by running `amphtml helper amp_head` -->
        <!-- Example: <%%#= amp_head(description: "Description", favicon: "favicon.ico", language: I18n.locale, keywords: ["keyword1", "keyword2"]) %> -->
        <%%= amp_head %>


        <!-- Use <%%#= content_for :title do %>App Name<%%# end %> to add a title to your view -->
        <title><%% if content_for? :title %><%%= yield :title %><%% else %><%%= Amphtml.application_name %><%% end %></title>

        <% if options[:split] %>
        <!-- Overwrite the passed parameter to specify a specific canonical url -->
        <%%= canonical_link(url_for(format: :html, only_path: false)) %>
        <% else %>
        <%%= canonical_link(request.original_url) %>
        <% end %>
        <!-- IMPORTANT: The `meta[name="viewport"]` tag is required by AMP! -->
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

        <%%= csrf_meta_tags %>


        <!-- AMP resources (required) -->
        <%%= amp_resources %>


        <!-- schema.org definition (not required) -->
        <%%= schema_tag("#{headline if content_for? :title}": "#{yield :title if content_for? :title}") %>


        <!-- AMP custom styles -->
        <!-- Use <%%#= amp_css do %> div { color: black } ... <%%# end %> to add specific styles to your view -->

        <!-- If you want to embed external styles, use stylesheets under "app/assets/stylesheets/amp" directory -->
        <!-- DO NOT include any external CSS via a link tag -->
        <!-- Learn more about format restrictions in CSS: https://www.ampproject.org/docs/guides/author-develop/responsive/style_pages -->

        <!-- Add your global CSS in the block below -->
        <%%= amp_global_css do %>
        <%% end %>


        <!-- AMP Javascript Component -->
        <!-- You need to install the javascript component in order to use the following tag helpers! -->
        
        <!-- Use <%%#= amp_js do %> function test() { ... } <%%# end %> to add specific javascript to your view -->

        <!-- If you want to embed external javascript, use files under "app/assets/javascripts/amp" directory -->
        <!-- DO NOT include any external JS via a link tag -->
        <!-- Add your global JS in the block below -->
        <%%= amp_global_js do %>
        <%% end %>


    </head>

    <body>


        <!-- AMP Analytics Component -->
        <!-- You need to install the analytics component in order to use the following tag helpers! -->

        <!-- <%%#= amp_analytics(vendor) %> -->

        <!-- IMPORTANT: To be able to use the amp_google_analytics tag helper, configure your Google Analytics account in "config/amphtml.yml"! -->
        <!-- <%%#= amp_google_analytics %> -->

        <!-- Guide: https://github.com/jonhue/amphtml/wiki/Guides:-Analytics -->


        <%%= yield %>


    </body>

<%% end %>
